<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>KonohaUniversity</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>studentservlet1</display-name>
    <servlet-name>studentservlet1</servlet-name>
    <servlet-class>com.konoha.usermanagement.controller.studentservlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>studentservlet1</servlet-name>
    <url-pattern>/studentservlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentRegister</display-name>
    <servlet-name>StudentRegister</servlet-name>
    <servlet-class>com.konoha.usermanagement.StudentRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentRegister</servlet-name>
    <url-pattern>/StudentRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentList</display-name>
    <servlet-name>StudentList</servlet-name>
    <servlet-class>com.konoha.usermanagement.StudentList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentList</servlet-name>
    <url-pattern>/StudentList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentGetUpdate</display-name>
    <servlet-name>StudentGetUpdate</servlet-name>
    <servlet-class>com.konoha.usermanagement.StudentGetUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentGetUpdate</servlet-name>
    <url-pattern>/StudentGetUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentDelete</display-name>
    <servlet-name>StudentDelete</servlet-name>
    <servlet-class>com.konoha.usermanagement.StudentDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentDelete</servlet-name>
    <url-pattern>/StudentDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentUpdate</display-name>
    <servlet-name>StudentUpdate</servlet-name>
    <servlet-class>com.konoha.usermanagement.StudentUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentUpdate</servlet-name>
    <url-pattern>/StudentUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LecturerDelete</display-name>
    <servlet-name>LecturerDelete</servlet-name>
    <servlet-class>com.konoha.usermanagement.LecturerDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LecturerDelete</servlet-name>
    <url-pattern>/LecturerDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LecturerGetUpdate</display-name>
    <servlet-name>LecturerGetUpdate</servlet-name>
    <servlet-class>com.konoha.usermanagement.LecturerGetUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LecturerGetUpdate</servlet-name>
    <url-pattern>/LecturerGetUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LecturerList</display-name>
    <servlet-name>LecturerList</servlet-name>
    <servlet-class>com.konoha.usermanagement.LecturerList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LecturerList</servlet-name>
    <url-pattern>/LecturerList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LecturerRegister</display-name>
    <servlet-name>LecturerRegister</servlet-name>
    <servlet-class>com.konoha.usermanagement.LecturerRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LecturerRegister</servlet-name>
    <url-pattern>/LecturerRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LecturerUpdate</display-name>
    <servlet-name>LecturerUpdate</servlet-name>
    <servlet-class>com.konoha.usermanagement.LecturerUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LecturerUpdate</servlet-name>
    <url-pattern>/LecturerUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModuleAdd</display-name>
    <servlet-name>ModuleAdd</servlet-name>
    <servlet-class>com.konoha.modulemanagement.ModuleAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModuleAdd</servlet-name>
    <url-pattern>/ModuleAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModuleDelete</display-name>
    <servlet-name>ModuleDelete</servlet-name>
    <servlet-class>com.konoha.modulemanagement.ModuleDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModuleDelete</servlet-name>
    <url-pattern>/ModuleDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModuleGetUpdate</display-name>
    <servlet-name>ModuleGetUpdate</servlet-name>
    <servlet-class>com.konoha.modulemanagement.ModuleGetUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModuleGetUpdate</servlet-name>
    <url-pattern>/ModuleGetUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModuleUpdate</display-name>
    <servlet-name>ModuleUpdate</servlet-name>
    <servlet-class>com.konoha.modulemanagement.ModuleUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModuleUpdate</servlet-name>
    <url-pattern>/ModuleUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ScheduleExam</display-name>
    <servlet-name>ScheduleExam</servlet-name>
    <servlet-class>com.konoha.examinationmanagement.ScheduleExam</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ScheduleExam</servlet-name>
    <url-pattern>/ScheduleExam</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExaminationGetUpdate</display-name>
    <servlet-name>ExaminationGetUpdate</servlet-name>
    <servlet-class>com.konoha.examinationmanagement.ExaminationGetUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExaminationGetUpdate</servlet-name>
    <url-pattern>/ExaminationGetUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExaminationDelete</display-name>
    <servlet-name>ExaminationDelete</servlet-name>
    <servlet-class>com.konoha.examinationmanagement.ExaminationDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExaminationDelete</servlet-name>
    <url-pattern>/ExaminationDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExaminationUpdate</display-name>
    <servlet-name>ExaminationUpdate</servlet-name>
    <servlet-class>com.konoha.examinationmanagement.ExaminationUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExaminationUpdate</servlet-name>
    <url-pattern>/ExaminationUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.konoha.usermanagement.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExamGetForQuestions</display-name>
    <servlet-name>ExamGetForQuestions</servlet-name>
    <servlet-class>com.konoha.questionmanagement.ExamGetForQuestions</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExamGetForQuestions</servlet-name>
    <url-pattern>/ExamGetForQuestions</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuestionGetAdd</display-name>
    <servlet-name>QuestionGetAdd</servlet-name>
    <servlet-class>com.konoha.questionmanagement.QuestionGetAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuestionGetAdd</servlet-name>
    <url-pattern>/QuestionGetAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuestionAdd</display-name>
    <servlet-name>QuestionAdd</servlet-name>
    <servlet-class>com.konoha.questionmanagement.QuestionAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuestionAdd</servlet-name>
    <url-pattern>/QuestionAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuestionGetUpdate</display-name>
    <servlet-name>QuestionGetUpdate</servlet-name>
    <servlet-class>com.konoha.questionmanagement.QuestionGetUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuestionGetUpdate</servlet-name>
    <url-pattern>/QuestionGetUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuestionUpdate</display-name>
    <servlet-name>QuestionUpdate</servlet-name>
    <servlet-class>com.konoha.questionmanagement.QuestionUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuestionUpdate</servlet-name>
    <url-pattern>/QuestionUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetViewExamination</display-name>
    <servlet-name>GetViewExamination</servlet-name>
    <servlet-class>com.konoha.examinationmanagement.GetViewExamination</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetViewExamination</servlet-name>
    <url-pattern>/GetViewExamination</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Quiz</display-name>
    <servlet-name>Quiz</servlet-name>
    <servlet-class>com.konoha.questionmanagement.Quiz</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Quiz</servlet-name>
    <url-pattern>/Quiz</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FinishAttempt</display-name>
    <servlet-name>FinishAttempt</servlet-name>
    <servlet-class>com.konoha.questionmanagement.FinishAttempt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FinishAttempt</servlet-name>
    <url-pattern>/FinishAttempt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.konoha.usermanagement.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePassword</display-name>
    <servlet-name>ChangePassword</servlet-name>
    <servlet-class>com.konoha.usermanagement.ChangePassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePassword</servlet-name>
    <url-pattern>/ChangePassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApplyChangePassword</display-name>
    <servlet-name>ApplyChangePassword</servlet-name>
    <servlet-class>com.konoha.usermanagement.ApplyChangePassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApplyChangePassword</servlet-name>
    <url-pattern>/ApplyChangePassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuestionDelete</display-name>
    <servlet-name>QuestionDelete</servlet-name>
    <servlet-class>com.konoha.questionmanagement.QuestionDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuestionDelete</servlet-name>
    <url-pattern>/QuestionDelete</url-pattern>
  </servlet-mapping>
</web-app>